.navbar-brand{
    color: #fff;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #fff;
}

#hamburger{
    background: #353535;
    color: #fff;
    width: 60px;
    height: 50px;
}

#hamburger:hover{
    background: #515151;
}

.nav-link, #h{
    color: rgba(255, 255, 255, 0.664);
    text-decoration: none !important;
    border: none;
}

a{
    text-decoration: none;
}

.nav-link:hover, #h:hover{
    color: #fff;
}

#nav{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

