#icon, .navbar-brand{
    color: #fff;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #fff;
}

.nav-link, #h{
    color: rgba(255, 255, 255, 0.664);
    text-decoration: none !important;
    border: none;
}

a{
    text-decoration: none;
}

.nav-link:hover, #h:hover{
    color: #fff;
}

#nav{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

